{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
<style type="text/css">
            .container {
            margin-top: 6.25rem;

        }
                .card {

            text-align: center;
            font-size: 2.5rem; /* Added size for card text */
  
        }
        .card i {
            margin-bottom: 0.5rem;
            font-size: 5rem; /* Added size for icons */
        }

</style>
<div class="container" style="">
    <div style="font:bold 44px 'Aleo'; text-shadow:1px 1px 25px #000; color:green; text-align:center;">
        {{ pharmacy_name }}
    </div>

    <div id="cards" class="container">
        <div class="card">
            <a href="{{ url_for('expenses') }}">
                <i class="fa fa-shopping-bag fa-2x"></i><br>
                expenses
            </a>
        </div>
        <div class="card">
            <a href="{{ url_for('drugs') }}">
                <i class="fa-solid fa-coin fa-2x"></i><br> <!-- Adjusted icon class -->
                statements and reports
            </a>
        </div>
        <div class="card">
            <a href="{{ url_for('users') }}">
                <i class="fa fa-users fa-2x"></i><br> <!-- Adjusted icon class -->
               users
            </a>
        </div>
        <div class="card">
            <a href="{{ url_for('suppliers') }}">
                <i class="fa fa-trash fa-2x"></i><br> <!-- Adjusted icon class -->
                expiries
            </a>
        </div>
        <div class="card">
            <a href="{{ url_for('purchases', invoice=invoice_number) }}">
                <i class="fa fa-list fa-2x"></i><br> <!-- Adjusted icon class -->
             expiry report
            </a>
        </div>
        <div class="card">
            <a href="{{ url_for('wholesale', invoice=invoice_number) }}">
                <i class="fa fa-trash fa-2x"></i><br> <!-- Adjusted icon class -->
               delete sale
            </a>
        </div>
        
    </div>
</div>
{% include 'footer.html' %} <!-- Include the footer -->
{% endblock %}
