{% extends 'base.html' %}
{% block head %}
    <title>login</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
</div>
    {% endblock %}